body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}

form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
    height: 1.5rem;
    border: none;
    background-color: rgb(86, 86, 209);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    color: #DDD;
    transition: .25s;
}

button:hover {
    background-color: #DDD;
    color: rgb(86, 86, 209);
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17rem;
}
